@model MvcToDoList.Models.ViewModels.TaskViewModel
@using MvcToDoList.Models.Own
<div class="col-sm-6 col-md-4">
    <div class="thumbnail" style=@Model.ThumbnailBackgroundColour>
        <div class="caption">
            @if (Model.Status == "done")
            {
                <h3><del>@Model.Title</del></h3>
            }
            else
            {
                <h3>@Model.Title</h3>
            }
            <p>Status: @Model.Status</p>
            <p>Finish date: @Model.PlannedFinishDate</p>
            <p>Days left: @Model.DaysLeftMessage</p>


            @Ajax.ActionLink(Model.ModifyButtonLinkText, "ModifyStatus", new { id = Model.TaskId }, new AjaxOptions { HttpMethod = "POST" }, new { @class = $"btn btn-{Model.ButtonStyle}" })
            @if (Model.Status == Task.ProgressStatesDict[(int)Task.ProgressStatesEnum.Done])
            {
                @Ajax.ActionLink("Confirm As Done", "ModifyStatus", new { id = Model.TaskId, confirmed = true}, new AjaxOptions { HttpMethod = "POST" }, new { @class = $"btn btn-primary" })

            }
        </div>
    </div>
</div>
