@model MvcToDoList.Models.ViewModels.TaskViewModel

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            @if (Model.Status == "done")
            {
                <h3><del>@Model.Title</del></h3>
            }
            else
            {
                <h3>@Model.Title</h3>
            }
            <p>Status: @Model.Status</p>
            <p>Finish date: @Model.FinishDate</p>
            <p>Days left: @Model.DaysLeftMessage</p>


            @Ajax.ActionLink(Model.ModifyButtonLinkText, "ModifyStatus", new { id = Model.TaskId }, new AjaxOptions { HttpMethod = "POST"},new { @class = $"btn btn-{Model.ButtonStyle}" }) 
            @Ajax.ActionLink("Delete", "Delete", new { id = Model.TaskId }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn btn-danger" })
            
        </div>
    </div>
</div>
