@model MvcToDoList.Models.Own.Task
@using MvcToDoList.Models.Own
@{
    int daysLeft = Model.PlannedFinishDate.DayOfYear - DateTime.Now.DayOfYear;
    string message = daysLeft >= 0 ? daysLeft.ToString() : "missed";
}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            @if (Model.ProgressState == (int)Task.ProgressStatesEnum.Done)
            {
                <h3><del>@Model.Name</del></h3>
            }
            else
            {
                <h3>@Model.Name</h3>
            }
            <p>Status: @Task.ProgressStatesDict[Model.ProgressState]</p>
            <p>Finish date: @Model.PlannedFinishDate.Date.ToShortDateString()</p>
            <p>Days left: @message</p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
